#main-home {


 .timingsvg {
    width: 17px;
    height: 17px;
    
}
 .timeboxsection3{
    width:247px;
height: 41px;

 }
 .timeboxsection3:hover{
    transform: scale(0.9); 

 }

.icon-width {
    width: 25px;
    height: 25px;
}

    // .title-leaf{
    //     content: "";
    //     position: absolute;
    //     top: 50%;
    //     -webkit-transform: translateY(-50%);
    //     transform: translateY(-50%);
    //     width: 100%;
    //     height: 1px;
    //     left: 0;
    //     background-color:#0da487;
    //     z-index: -1;

    //         width: 140px;
    //         text-align: center;
    //         margin-top: 7px;
    //         position: relative;
    //         z-index: 0;
    
    // }
   
  

}