#main-home {
  @media (min-width: 1000px) {
  .homecontain {
    font-size: 46px;
    width: 80%;
    line-height: 1.4;
    text-transform: uppercase !important;
  }
  }
  @media (max-width: 1000px) {
  .homecontain {
    font-size: 27px;
    width: 80%;
    line-height: 1.4;
    text-transform: uppercase !important;
  }
  }
  @media (max-width: 330px) {
    .homecontain {
      font-size: 16px;
      width: 80%;
      line-height: 1.4;
      text-transform: uppercase !important;
    }
    }
  .imgonesectionone {
    height: 689px;
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/vegetable/banner/1.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
  }
  @media (max-width: 1000px) {
    .gfg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 700.66667px;
      height: 492px;
    }
  }
  @media (max-width: 900px) {
    .gfg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 694.66667px;
      height: 449px;
    }
  }
  @media (max-width: 800px) {
    .gfg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 708.66667px;
      height: 355px;
    }
  }
 

  @media (max-width: 767px) {
    .gfg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width:514px;
      height: 419px;
    }
  }
   @media (max-width: 700px) {
    .gfg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 517px;
      height: 382px;
    }
  }
  @media (max-width: 550px) {
    .gfg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 500px;
      height: 303px;
    }
  }
  @media (max-width: 530px) {
    .gfg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 480px;
      height: 295px;
    }
  }
  @media (max-width: 520px) {
    .gfg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 460px;
      height: 287px;
    }
  }
  @media (max-width: 425px) {
    .gfg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 400px;
      height: 287px;
    }
  }
  @media (max-width: 375px) {
    .gfg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 350px;
      height: 287px;
    }
  }
  @media (max-width: 320px) {
    .gfg {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 290px;
      height: 210px;
    }
  }
  .imgtwosectionone {
    width: 511.66px;
    height: 332.56px;
  }

  .section130percent {
    font-weight: 500;
    padding: 12.6px;
    
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(255, 114, 114, 0.15)),
      color-stop(79%, rgba(255, 114, 114, 0))
    );
    background: linear-gradient(
      90deg,
      rgba(255, 114, 114, 0.15) 0%,
      rgba(255, 114, 114, 0) 79%
    );
    border-radius: 50px;
    color: #ff4f4f;
   
  }
 
  .textforimage2 {
    padding: calc(
      15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))
    ) !important;
height: 100%;
    top: 0;
    left: 0;

  
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .psection1 {
    @media (min-width: 576px) {
      .d-sm-block {
        display: block !important;
      }
    }
    .w-75 {
      width: 75% !important;
    }
  }
  button:hover  {
  transform: scale(0.9); 
}
}
