#main-home {
    
    @media (max-width: 768px) {

    .cardname{
        line-height: 22px;
        height: 25px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }}
    @media (max-width: 1440px) {

        .cardname{
            line-height: 22px;
            height: 45px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }
        
    }
    @media (max-width:2560px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 240px;
        }
        
    }
    @media (max-width: 1700px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 235px;
        }
        
    }
    @media (max-width: 1699px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 170px;
        }
        
    } @media (max-width: 1399px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 216px;
        }
        
    } @media (max-width: 1199px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 165px;
        }
        
    }@media (max-width: 991px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 196px;
        }
        
    }@media (max-width: 767px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 350px;
        }
        
    }@media (max-width: 575px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 380px;
        }
        
    }@media (max-width: 569px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 360px;
        }
        
    }@media (max-width: 546px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 350px;
        }
        
    }@media (max-width: 535px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 340px;
        }
        
    }
    @media (max-width: 425px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 230px;
        }
        
    }
    
    @media (max-width: 375px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 180px;
        }
        
    }
    @media (max-width: 320px) {

        .product-list li+li:after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            border-bottom: 1px dashed rgba(74,85,104,0.3);
            width: 130px;
        }
        
    }
     .price {
        margin-top: 6px;
        font-weight: 600;
        margin-bottom: -2px;
    }
   
    .product-list li .offer-product .offer-image img {
        width: 80px;
        height: 80px;
    
        object-fit: contain;
        

    }
    .product-list li {
 
        position: relative;
        display: -webkit-box;
    }
    .cheeza{height:582px;}
    .product-list li .offer-product {
        width: 100%;
        height: 100%;
        display: flex;
     
        align-items: center;
    }
   
   
    }