#main-home {
.rating li .feather.fill {
    fill: #ffb321;
    width: 13px;
    height: 13px;
    stroke: #ffb321;
  
} 


.rating li .feather {
    width: 13px;
    height: 13px;
    stroke: #ffb321;
}
}